<html>

<head>

    {#

        Please, if adding any new stylesheets to the layout, feel free to do it inside the block below.
        Let's keep ourselves organized and impeccable.

        Many thanks!

        - Esteban Victorio
    #}
    {% block CSS %}{% endblock %}

</head>
<body>

    {% block body %}{% endblock %}

    {#
        Please! Do mind to, if adding any new Javascript Resource,
        putting it inside the block below. Let's keep it clean.
        We are ladies and gentleman working here. :)

        Thanks!
        - Esteban Victorio
    #}
    {% block Javascript %}{% endblock %}
</body>
</html>